<a href="https://colab.research.google.com/github/marquezjp/SQLToPandas/blob/main/Oracle/Basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Forma simplificada de Executar uma Consulta no Banco Oracle

In [ ]:
# Carrega a Biblioteca do Oracle, YAML e Pandas
import yaml
import cx_Oracle
#lib_dir = r"C:\oracle\instantclient"
#cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient")

In [ ]:
# Carregar as Credenciais de Conexão com o Banco de Dados Padrão
padraoConfiguracao = '''
Padrao:
  dialect: 'oracle'
  sql_driver: 'cx_oracle'
  dsn_tns:
    host: 192.168.10.247
    service: sigrhprod.financas.pref
    port: 1521
  user: sigrhprd
  password: prdM4c3i0
'''
oracleConfig = yaml.load(padraoConfiguracao, Loader=yaml.FullLoader)
oracleConfig

In [ ]:
# Carregar as Credenciais de Conexão com o Banco de Dados Oracle
nomeArquivoConfiguracao = 'Oracle/databaseConfig'
ambienteDatabase = 'SIGRH-PRD'
with open(nomeArquivoConfiguracao, "r") as ymlFile:
    dbConfig = yaml.safe_load(ymlFile)
    oracleConfig = dbConfig[ambienteDatabase]
    oracleConfig

In [ ]:
# Defini as string de conexão do Oracle
# Configura Cliente Oracle, arquivo tnsnames.ora
dsn_tnsConfig = oracleConfig["dsn_tns"]
dsn_tns = cx_Oracle.makedsn(dsn_tnsConfig["host"],
                            dsn_tnsConfig["port"],
                            service_name=dsn_tnsConfig["service"])

In [ ]:
# Cria a Conexão
conexao = cx_Oracle.connect(user=oracleConfig["user"],
                            password=oracleConfig["password"],
                            dsn=dsn_tns)

In [ ]:
# Defini a Consulta SQL
# Usar aspas tripulas se desejar utilizar multiplas linas
SQL = """
select lower(substr(table_name,1,4)) as SubSystem, lower(table_name) as TableName, lower(column_name) as ColumnName
from user_tab_columns
"""

In [ ]:
# Executa Consulta
with conexao.cursor() as cursor:
    for linha in cursor.execute(SQL):
        print(linha[0])